.questions{
  &__head{
    margin: 0;
    width: 362px;
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    color: #343434;
  }

  &__case {
    width: 470px;
    height: 417px;
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: -60px;

    padding: {
      top: 31px;
      right: 50px;
      left: 50px;
      bottom: 17px;
    }

    background-color: #ffffff;
  }

  .form{
    width: 470px;
    height: 417px;
    &__input{
      margin-top: 20px;
    }

    &__submit{
         width: 209px;
         height: 43px;
         margin: 0 auto;
         margin-top: 20px;
         border: none;
         background-color: #FF9619;
         font-weight: 700;
         font-size: 16px;
         line-height: 150%;
         text-align: center;
         text-transform: uppercase;
         color: #FFFFFF;
         cursor: pointer;
         @include hov;
    }
  }

}



@media only screen and(max-width:375px) {
  .questions {
    &__head {
      width: 282px;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      margin-top: 8px;
      color: #343434;
    }

     .form {
       max-width: 340px;
       max-height: 351px;

       &__input {
         margin-top: 10px;
       }

       &__submit {
         width: 180px;
         height: 37px;
         margin: 0 auto;
         margin-top: 15px;
         border: none;
         background-color: #FF9619;
         font-weight: 700;
         font-size: 14px;
         line-height: 21px;
         text-align: center;
         text-transform: uppercase;
         color: #FFFFFF;
         cursor: pointer;
         @include hov;
       }
     }

      &__case {
        width: 340px;
        height: 351px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: {
          top: 23px;
          right: 35px;
          left: 35px;
          bottom: 17px;
        }

        background-color: #ffffff;
      }

  }
}

