.furniture{
  .hug-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 199px;
  }
}

@media only screen and (max-width:375px) {
  .furniture{
    .hug-container{
      padding-bottom: 112px;
    }

    &__img{
         width: 100%;
         max-width: 375px;
         min-width: 352px;
         height: auto;
         max-height: 306px;
         min-height: 287px;
         object-fit: cover;

    }

    &__img--off{
      display: none;
    }

  }
}