.single{
  padding-top: 160px;
  &__heading{
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 60px;
  }

  .color{
    color: #FF9619;
  }

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    
  }
  
  &__item{
    width: 270px;
    height: 278px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:#F2F3F5;

    &:hover{
      background-color:#F2F3F5;
      opacity: 0.7;
    }
  }

  &__img{
    object-fit: cover;
  }
}
  
@media only screen and (max-width:375px) {
  .single{
    padding-top: 90px;
    &__box{
      flex-direction: column;
    }

    &__item{
      width: 340px;
      height: 350px;
    }
  }
}
  
   
  