.techno{

  &__top{
    display: flex;
    align-items: center;
    padding-bottom: 160px;

  }

  &__inner{
    position: relative;
    padding-bottom: 236px;
  }

  &__pdf{
    width: 390px;
    height: 130px;
    border:1px solid #FF9619;
    border-collapse:separate;
    background-color: transparent;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    color: #343434;

    &:hover{
      color: #FF9619;
    }

  }

   &__btn {
     width: 390px;
     height: 130px;
     border: 1px solid #FF9619;
     border-collapse: separate;
     background-color: transparent;
     font-weight: 300;
     font-size: 30px;
     line-height: 35px;
     text-transform: capitalize;
     color: #343434;

     &:hover {
       color: #FF9619;
     }

   }

       &__btn::after {
         content: "\e900";
        width: 33px;
        height: 33px;
        border-radius: 50%;
        padding-right: 15px;
        background-color: #FF9619;
        background-image: url(../images/Arrowe2.png);
        background-repeat: no-repeat;
        background-size:auto;
        background-position: 9px 9px;
      
       }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
      top: 47px;
      right: 17px;
      left: 90px;
      bottom: 28px;
    }

    border-bottom: 1px solid rgba(52, 52, 52, 0.2);
    border-right: 1px solid rgba(52, 52, 52, 0.2);
    border-left: 1px solid rgba(52, 52, 52, 0.2);
 
  }
 
  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bottom-btn{
    width: 445px;
    height: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 127.5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;

    color: #343434;
    border: 1px solid rgba(52, 52, 52, 0.2);
    background: #F2F3F5;

      &:hover {
        background-color: #ffffff;
        border-bottom: none;
      }
  }

  &__bottom-link{
    width: 312px;
    height: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 127.5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-align: center;
    color: #343434;
    border: 1px solid rgba(52, 52, 52, 0.2);
    background: #F2F3F5;

    &:hover{
      background-color: #ffffff;
      border-bottom: none;
    }

    &__list{
      margin: 0;
      padding: 0;
      color:#FF9619
    }
  }

    &__list{
     color: #FF9619
    }

    &__right-list{
      list-style-type: none;
    }

    &__head{
      font-weight: 300;
      font-size: 14px;
      line-height: 127.5%;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      color: #343434;
    }


  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 127.5%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #343434;
  }

  &__link{
    max-width: 342px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    @include link;
    background-color: #FF9619;
    font-weight: 800;
    font-size: 18px;
    line-height: 27;
    position: absolute;
    right: 0;
    bottom:160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover{
       background-color: #FF9619;
       opacity: 0.7;
    }
  }
    

}

@media only screen and(max-width:375px){
  .techno{
    &__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 90px;
    }

    &__inner{
      padding-bottom: 193px;
    }

    &__pdf{
      width: 167px;
      height: 47px;
      font-size: 18px;
      line-height: 21px;
    }

    &__bottom{
      display: none;
    }

    &__nav{
      flex-direction: column;
      gap:15px;
    }

    &__bottom-btn{
      width: 340px;
      height: 53px;
    }

      &__btn{
        width: 167px;
        height: 47px;
        font-size: 18px;
        line-height: 21px;
      }

       &__btn::after {
         background-position: 6px 3px;

       }

    
  
    

    &__bottom-link{
       width: 340px;
       height: 53px;
    }

    &__link{
      max-width: 276px;
      width: 100%;
      height: 43px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      right: 30px;
      bottom: 100px;
    }
  }
  
}
 




